@media screen and (max-width:768px) and (min-width:401px) {
    h1 {
        width: 200px;
        height: 200px;
    }
    nav li {
        font-size: 20px;
    }
    #video_fix {
        display: none;
    }
    #video_section section img {
        min-height: 50vh;
    }
    #video_section section p {
        font-size: 45px;
        color: #000;
    }
    #video_fix>div>video, #video_fix>div>img {
        height: 300px; 
        width: 500px; 
        margin: auto 85px;
    }
    #video_section [class*="sticky"] {
        width: 305px;
    }
    #video_section [class*="sticky"] p:nth-child(3) {
        display: none;
    }
    .portf {
        margin: 2px;
    }
    .portf li {
        margin: auto;
    }
    .portf img {
        width: 100vw;
        height: 480px; 
        object-fit: cover;
    }
    .hoverbox .span2 {
        left: -95px;
    } 
    #port li.on img {
        width: 500px;
        height: 600px;
    }
    #port li.on video {
        width: 600px; 
        height: 600px;
    }
    #port li:nth-child(-n+7).on details {
        width: 85%;
    }
    #port li:nth-child(4).on img {
        height: 560px;
    }
    #contact .form_base:not(#send_bt) {
        min-width: 400px;
    }
}